h1 {
  font-family: "Blinker", sans-serif;
  font-size: 50px;
  color: steelblue;
  letter-spacing: 10px;
  cursor: pointer;
  text-align: center;
}

h1:hover {
  animation: shadows 0.2s ease-in infinite;
}

@keyframes shadows {
  0%,
  100% {
    text-shadow: 4px 0 0 #ee1d52, 0 -4px 0 #69c9d0;
  }
  25% {
    text-shadow: 4px 4px 0 #ee1d52, -4px -4px 0 #69c9d0;
  }
  50% {
    text-shadow: 0 4px 0 #ee1d52, -4px 0 0 #69c9d0;
  }
  75% {
    text-shadow: 0 0 0 #ee1d52, 0 0 0 #69c9d0;
  }
}
